{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='plugins/font-awesome/css/font-awesome.css')}}">
{% endblock %}

{% block head %}
    {{ super() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/main.css">
    <link rel="shortcut icon" href="https://coolmonk.org/static/images/favicon.ico?v2">
    <title>CoolMonk</title>
    <meta name="description" content="Personal website about general stuff">
{% endblock %}

{% block title %}
   Home
{% endblock %}
        
{% block body %}
     <div class="wrapper">
        <div class="main-wrapper">
          <section class="section experiences-section">
             <h2 class="section-title">CoolMonk</h2>
             <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                           <h5 class="job-title"> Random stuff in general. Work related stuff is <a href="/work">here.</a> Some news from the world is consolidated <a href="/news">here.</a> Some of the music I publish to soundcloud is below.</h5>
                        </div>
                    </div>
              </div>
              <div class="details">
                <iframe width="90%" height="400" scrolling="no" frameborder="yes" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/81967871&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
              </div>
              <div class="details">
                  <a class="twitter-timeline" href="https://twitter.com/sushraju?ref_src=twsrc%5Etfw">I tweet sushraju</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
          </section>
        </div>
     </div

{% endblock body %}
